<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>addin media files</title>


    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/vue-multiselect/dist/vue-multiselect.min.css">
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/vue/dist/vue.js"></script>
    <script src="bower_components/vue-multiselect/dist/vue-multiselect.min.js"></script>
    <script src="node_modules/vue-lazyload/vue-lazyload.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js scripts/main.js -->
    <script src="scripts/main.js"></script>
    <!-- endbuild -->

</head>

<body>
    <style>
    [v-cloak] {
        display: none;
    }
    </style>

    <div id="addinMediaFiles" v-cloak>

        <header class="geotabPageHeader">
            <h1 class="geotabPageName">Media Files</h1>
        </header>
        <p v-if="success">{{success}}</p>
        <p v-if="error">{{error}}</p>
        <ul class="tabs">

            <li class="tab">
                <input type="radio" name="tabs" checked="checked" id="tab1" />
                <label for="tab1">List</label>
                <div id="tab-content1" class="content" style="overflow-x: auto;">

                    <table class="table table-bordered">
                        <tbody>
                            <tr class="row">
                                <th class="cell">Name</th>
                                <th class="cell">Type</th>
                                <th class="cell">Status</th>
                                <th class="cell">Solution ID</th>
                                <th class="cell">From</th>
                                <th class="cell">To</th>
                                <th class="cell">Device</th>
                                <th class="cell">Driver</th>
                                <th class="cell">Tags</th>
                                <th class="cell">Meta Data</th>
                                <th class="cell"></th>
                                <th class="cell"></th>
                            </tr>
                            <tr class="row" v-for="mediafile in mediaFiles">
                                <td class="cell">{{ mediafile.name }}</td>
                                <td class="cell">{{ mediafile.mediaType }}</td>
                                <td class="cell">{{ mediafile.status }}</td>
                                <td class="cell">{{ mediafile.solutionId }}</td>
                                <td class="cell">{{ mediafile.fromDate | formatDate }}</td>
                                <td class="cell">{{ mediafile.toDate | formatDate }}</td>
                                <td class="cell">{{ mediafile.device.name }}</td>
                                <td class="cell">{{ mediafile.driver.name }}</td>
                                <td class="cell"><div v-for="tag in mediafile.tags"><span>{{ tag.name }}</span></div></td>
                                <td class="cell"><code><pre>{{ mediafile.metaData | pretty }}</pre></code></td>
                                <td class="cell" v-lazy-container="{ selector: 'img' }">
                                    <video v-if="mediafile.name.endsWith('.mp4') && mediafile.status === 'Ready'" width="400" controls>
                                        <source
                                            :src="'https://' + host + '/apiv1/DownloadMediaFile?mediaFile={id:' + JSON.stringify(mediafile.id) + '}&credentials=' + JSON.stringify(credentials)"
                                            type="video/mp4">
                                        Your browser does not support HTML5 video.
                                    </video>
                                    <img v-else-if="mediafile.status === 'Ready'"
                                        style="width: auto"
                                        :data-src="'https://' + host + '/apiv1/DownloadMediaFile?mediaFile={id:' + JSON.stringify(mediafile.id) + '}&credentials=' + JSON.stringify(credentials)" />
                                </td>
                                <td class="cell">
                                    <a class="geotabButton emptyButton checkmateListBuilderRowDetails"
                                        title="Remove file" v-on:click="remove(mediafile)">
                                        <svg class="svgIcon geotabButton-svgIcon"><use xlink:href="#geo-close-cross"></use></svg>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>

            </li>
            <li class="tab">
                <input type="radio" name="tabs" id="tab2" />
                <label for="tab2">Add</label>
                <div id="tab-content2" class="content checkmateFormPage">

                    <form v-on:submit.prevent>
                        <div class="checkmateField">
                            <label class="label" for="file">File:</label>
                            <input type="file" v-on:change="filesChange($event.target.files)" name="file" id="file"
                                class="geotabFormEditField" />
                        </div>
                        <div class="checkmateField">
                            <label class="label" for="fromDate">From Date:</label>
                            <input type="datetime-local" v-model="mediaFile.fromDate" class="geotabFormEditField"
                                id="fromDate" placeholder="The date from" />
                        </div>
                        <div class="checkmateField">
                            <label class="label" for="toDate">To Date:</label>
                            <input type="datetime-local" v-model="mediaFile.toDate" class="geotabFormEditField"
                                id="toDate" placeholder="The date to" />
                        </div>
                        <div class="checkmateField">
                            <label class="label" for="device">Device:</label>
                            <multiselect id="device" v-model="mediaFile.device" :options="devices" :custom-label="deviceLabel" track-by="name" :show-no-results="false" v-on:search-change="searchDevices"></multiselect>
                        </div>
                        <div class="checkmateField">
                            <label class="label" for="driver">Driver:</label>
                            <multiselect id="driver" v-model="mediaFile.driver" :options="drivers" :custom-label="driverLabel" track-by="name" :show-no-results="false" v-on:search-change="searchDrivers"></multiselect>
                        </div>
                        <div class="checkmateField">
                            <label class="label" for="tags">Tags:</label>
                            <multiselect id="tags" v-model="mediaFile.tags" :options="tags" :custom-label="tagLabel" :multiple="true" track-by="name" :taggable="true" v-on:tag="addTag"></multiselect>
                        </div>
                        <div class="checkmateField">
                            <button class="geotabButton geotabButtonLarge" v-on:click="upload()">Upload</button>
                        </div>
                    </form>
                </div>
            </li>
        </ul>

    </div>

</body>

</html>